.heading{
  color: orange;
}
.event-details{
  color: orange;
  height: 500px;
  width: 850px;
  margin: 0 auto;

}

.imgClass img{
  height: 250px;
  border-radius: 100em;
}

.margin {
  margin: 10px 20px 10px 20px;
}
.floatleft{
  float: left;
}
.childdiv{
  float : left;
  margin: 10px 20px 10px 20px;
}
.eventName{
  font-size: 20px;
  font-weight: bold;
}

.arrowsUp img{
  height: 50px;
  float: left;;
}
.arrowsDown img{
  height: 50px;
  float: left;
}
.arrowsParent{
  height: 100px;
  width: 70px;
  float: left;
}
.eachEventParent{
  float: left;
}
.gravatarImg{
  height: 200px;
  width:200px;
  border: 2px solid black;
}
