.heading{
  color: orange;
}
.event-details{
  height: 500px;
  width: 850px;
  margin: 0 auto;
}
.center{
  margin: 0 auto;
  width: 500px;
}
li {
  list-style-type: none;
}
.imgClass img{
  height: 150px;
  border-radius: 100em;
}

.margin {
  margin: 10px 20px 10px 20px;
}
.floatleft{
  float: left;
}
.childdiv{
  float : left;
  margin: 10px 20px 10px 20px;
}
.eventName{
  font-size: 20px;
  font-weight: bold;
}

.arrowsUp img{
  height: 50px;
  float: left;;
}
.arrowsDown img{
  height: 50px;
  float: left;
}
.arrowsParent{
  height: 200px;
  width: 800px;
  float: left;
}
.gravatarImg{
  height: 200px;
  width:200px;
  border: 2px solid black;
}
